<div class="container">
  <section class="col-sm-6">
    <h1 class="mt-4">{{ labels.title }}</h1>
    <form
      (ngSubmit)="formGen.form.valid && onSubmit()"
      #formGen="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="telephone">{{ labels.telephone }}</label>
        <input
          type="number"
          class="form-control"
          id="telephone"
          name="telephone"
          [(ngModel)]="telephoneNumber"
          required
          #telephone="ngModel"
          pattern="(\d{7}|\d{10})"
        />
        <ng-container *ngIf="formGen.submitted && telephone.invalid">
          <div
            *ngIf="telephone.errors.required"
            class="mt-2 alert alert-danger"
          >
            Telephone Number is required
          </div>
          <div *ngIf="telephone.errors.pattern" class="mt-2 alert alert-danger">
            Telephone Number should be 7 or 10 digit
          </div>
        </ng-container>
      </div>
      <button type="submit" class="btn btn-primary">
        {{ labels.button }}
      </button>
    </form>
  </section>
  <section class="col-sm-12 mt-4" *ngIf="alphanumericCombination">
    <h1>Results:</h1>
    <ul>
      <li class="text-item" *ngFor="let text of alphanumericCombination?.data">
        {{ text }}
      </li>
    </ul>
    <div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" *ngIf="currentPage > 1">
            <a class="page-link" (click)="currentPage = 1; onSubmit()"
              >Previous</a
            >
          </li>
          <li class="page-item" *ngFor="let page of pages; let i = index">
            <a class="page-link" (click)="currentPage = i + 1; onSubmit()">
              {{ i + 1 }}
            </a>
          </li>
          <li class="page-item" *ngIf="currentPage != pages.length">
            <a
              class="page-link"
              (click)="currentPage = pages.length; onSubmit()"
              >Next</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </section>
</div>
